:root {
	--hg-black: #1d1316;
	/* --hg-white: #f3f2ed; */
	--hg-white: hsl(60 5% 85%);
	--whisper: #f3f2ed33;
	--hg-gold: #bc9d09;
	--olive-oil: #887000;
	--hg-darker-black: black;
	--darker-gold-for-a11y: #af8b2e;
	--dark-slate-grey: #1c1a19;
	--sales-gradient-blue: #d8e6ff;
	--sales-gradient-peach: #ffe8dc;
	--brown: #451400;
}

footer {
	padding: 0 1.25rem 4rem;
	color: var(--hg-white);
	background: var(--hg-darker-black);
}

.contact-header {
	font-family: "PT Sans", serif;
	font-weight: 700;
	font-style: normal;
	border-left: 1px solid var(--hg-gold);
	display: block;
	padding: .25rem .75rem;
}

.contact-mail {
	display: inline-block;
	font-weight: 500;
	color: var(--hg-white);
	padding: .625rem .775rem;
	text-decoration: none;
}



.wbe-logo {
	max-width: 120px;
}

.office-name {
	color: var(--hg-white);
	font-family: "Oswald", serif;
  font-weight: 600;
  font-style: normal;
	text-transform: uppercase;
	font-size: 1.125rem;
	letter-spacing: .03em;
}

.office {
	color: var(--hg-white);
}

.social-link {
	color: var(--hg-white);
	font-family: "Oswald", serif;
  font-weight: 600;
  font-style: normal;
	text-transform: uppercase;
	font-size: 1.25rem;
	text-decoration: none;
}

.footer-form {
	display: grid;
}

.footer-input {
	border: solid thin transparent;
	background: transparent;
	border-bottom-color: var(--hg-white);
	padding: .25rem;
}

.footer-submit {
	font-weight: 500;
	color: var(--hg-black);
	background: var(--hg-gold);
	border: solid thin transparent;
	aspect-ratio: 1;
	padding: .875rem;
	max-width: min-content;
	border-radius: 100%;
	transform: rotateZ(-12deg);
}

textarea {
	background: transparent;
	border: solid thin transparent;
	padding: .25rem;
}


.footer-signature {
	font-size: .8rem;
	font-weight: 500;
	letter-spacing: .175em;
	line-height: 1.5;
	text-transform: uppercase;
	color: hsl(60 0% 60%);
	display: flex;

	span {
		flex-grow: 1;
	}

	a {
		color: inherit;
		text-decoration: none;
		flex-basis: 35%;
		display: inline-block;
		padding: .25rem 1rem 0;
		border-left: solid thin hsl(60 0% 60%);
	}
}