---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About Us | Hunt, Gather | Austin, TX</title>
	</head>
	<body>
		<h1>Agency Alchemy</h1>
		<h2>Give A Damn</h2>
		<p>Thoughtful, strategic work is not the result of being a yes (wo)man, we push the why and how with our clients.</p>

		<h2>Whole > Parts</h2>
		<p>All of our work is important for brands to ignite change. We don't cherry-pick the work because consumers don't either.</p>

		<h2>Makers + Doers</h2>
		<p>Each of us is a restless creative. It's not about your title, but about the hustle and roll-your-sleeves mentality we bring.</p>

		<h2>Culture, Not Conformity</h2>
		<p>Brands should be built around the human experience. We tap into what's true and now, and don't talk to ourselves.</p>		
	</body>
</html>