---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
	<h1>IT STARTS WITH US</h1>
	<p>We're challengers and tinkerers, pushing past what's already been done. Here at Hunt, Gather we believe good work demands great people, and we take pride in having some of the finest. When you love what you do, work becomes play, leading our Makers + Doers to thrive on creating what's next.</p>

	<button>See Job Openings</button>
	<p>All of our work is important for brands to ignite change. We don't cherry-pick the work because consumers don't either.</p>

	<h2>Openings</h2>
	<p>Don't see an opening that matches your skills but think you'd fit right in? Say howdy and send over your resume and/or portfolio for consideration.</p>
</MainLayout>