---
import MainLayout from '../layouts/MainLayout.astro';
import PartnersLogos from '../components/PartnersLogos.astro';
const pageTitle = 'Hunt, Gather | Makers + Doers | Austin, TX';
---

<MainLayout>
	<h1>A full-service creative agency based in Austin, TX</h1>

	<video width="100%" autoplay loop>
		<source src="/hgc-astro/videos/reel-video-home.mp4" type="video/mp4" />
		<a href="/hgc-astro/videos/reel-video-home.mp4">Download the video.</a>
	</video>

	<p><b>Creative</b> First, Always</p>

	<p>Our women-owned team of Makers + Doers gets fired up about big ideas and  building connections between brands and consumers. We are purposeful by design and meticulous with our craft, and we give a damn about our clients and the impact they have on the world. This passion and dedication show in our work.</p>

	<h2>Full service not full ego</h2>

	<section>
		<h3>Strategy</h3>
		<ul>
			<li>Brand Strategy</li>
			<li>Creative Strategy</li>
			<li>Comms + CRM Strategy</li>
			<li>Data + Analytics</li>
		</ul>
	</section>

	<section>
		<h3>Creative</h3>
		<ul>
			<li>Copy + Design</li>
			<li>Campaign Production</li>
			<li>Social Media Production</li>
			<li>Video + Photography</li>
		</ul>
	</section>

	<section>
		<h3>Technology</h3>
		<ul>
			<li>AI Strategy + Implementation</li>
			<li>SEO + SEM</li>
			<li>Web + Mobile Applications</li>
			<li>Webflow Development</li>
		</ul>
	</section>

	<PartnersLogos />
</MainLayout>
