---
import Header from '../components/Header.astro';
import PartnersLogos from '../components/PartnersLogos.astro';
import '../../src/styles/reset.css';
const pageTitle = 'Hunt, Gather | Makers + Doers | Austin, TX';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
		<h1>A full-service creative agency based in Austin, TX</h1>
		<h2>
			<span>Creative</span> First, Always
		</h2>
		<p>
			Our women-owned team of Makers + Doers gets fired up about big ideas and
			building connections between brands and consumers. We are purposeful by
			design and meticulous with our craft, and we give a damn about our clients
			and the impact they have on the world. This passion and dedication show in
			our work.
		</p>

		<p>Fullservice not full ego</p>

		<h3>Strategy</h3>
		<ul>
			<li>Brand Strategy</li>
			<li>Creative Strategy</li>
			<li>Comms + CRM Strategy</li>
			<li>Data + Analytics</li>
		</ul>

		<h3>Creative</h3>
		<ul>
			<li>Copy + Design</li>
			<li>Campaign Production</li>
			<li>Social Media Production</li>
			<li>Video + Photography</li>
		</ul>

		<h3>Technology</h3>
		<ul>
			<li>AI Strategy + Implementation</li>
			<li>SEO + SEM</li>
			<li>Web + Mobile Applications</li>
			<li>Webflow Development</li>
		</ul>

		<PartnersLogos />
	</body>
</html>
