---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About Us | Hunt, Gather | Austin, TX</title>
	</head>
	<body>
		<h1>Speed. Efficiency. Innovation.</h1>

		<p>When your creative partners are the ones actually in the creative, these are benefits you can expect to see on a regular basis.</p>
	</body>
</html>