---
import MainLayout from '../layouts/MainLayout.astro';
const pageTitle = 'About Us | Hunt, Gather | Austin, TX';
---

<MainLayout>
	<h1>What we make together matters</h1>

	<h2>2023 Impact Report</h2>
	<p>Whole Foods Market</p>

	<h2>Cybertopia</h2>
	<p>Dell</p>

	<h2>No Strangers In Texas</h2>
	<p>Lone Star</p>

	<h2>Annual Sustainability Report</h2>
	<p>Whole Foods</p>
</MainLayout>