---

---
<footer id="site_footer">
	<div>
		<p>
			<span class="contact-header">new business</span>
			<a class="contact-mail" href="mailto:info@huntgathercreate.co">info@huntgathercreate.co</a>
		</p>
	
		<p>
			<span class="contact-header">say hi</span>
			<a class="contact-mail" href="mailto:hello@huntgathercreate.co">hello@huntgathercreate.co</a>
		</p>
	
		<form action="" class="footer-form">
			<p class="contact-header">general inquiries</p>
		
			<label for="name">Name</label>
			<input class="footer-input" type="text" name="name" id="name" placeholder="name">
		
			<label for="email">Email</label>
			<input class="footer-input" type="email" name="email" id="email" placeholder="email">
		
			<textarea name="inquirie" id="inquirie" placeholder="How can we help?"></textarea>
		
			<button class="footer-submit" type="submit">submit</button>
		</form>
	</div>

	<div class="social-links-n-offices">
		<p class="social-links">
			<a class="social-links_link" href="#">Instagram</a>
			<a class="social-links_link" href="#">LinkedIn</a>
		</p>
	
		<section class="office">
			<h4 class="office__name">Austin Office</h4>
			<p>1023 Springdale Road</p>
			<p>Bldg 7, Suite E</p>
			<p>Austin, TX 78721</p>
		</section>
	
		<section class="office">
			<h4 class="office__name">Seattle Office</h4>
			<p>2815 Elliott Ave, Suite 100</p>
			<p>Seattle, WA 98121</p>
		</section>

		<img class="wbe-logo" src="/hgc-astro/partners/WBE_Seal.svg" alt="Certified WBENC Women's Business Enterprise.">
	</div>

	<small class="footer-signature">
		<span class="footer-signature__copyright">©2024 Hunt, Gather LLC</span>
		<a class="footer-signature__privacy_link" href="/privacy-policy">Privacy Policy</a>
	</small>
</footer>