---

---

<header>
	<nav>
		<a href="/hgc-astro/">
			<img src="/hgc-astro/huntgather-logo--cream.svg" alt="Hunt, Gather logo." />
		</a>
		<ul class="main-nav  rm-list-defaults">
			<li>
				<a class="nav-link" href="/hgc-astro/">Home</a>
			</li>
			<li>
				<a class="nav-link" href="/hgc-astro/work">Work</a>
			</li>
			<li>
				<a class="nav-link" href="/hgc-astro/about-us">About</a>
			</li>
			<li>
				<a class="nav-link" href="/hgc-astro/services">Services</a>
			</li>
			<li>
				<a class="nav-link" href="/hgc-astro/careers">Careers</a>
			</li>
			<li>
				<a class="nav-link" href="#contact-us">Contact</a>
			</li>
		</ul>
		<button class="main-menu-toggle" aria-label="Open menu" type="button">Menu</button>
	</nav>
</header>
