---

---

<header>
	<nav>
		<a href="./">
			<img src="/hgc-astro/huntgather-logo--cream.svg" alt="Hunt, Gather logo." />
		</a>
		<ul>
			<li>
				<a href="./">Home</a>
			</li>
			<li>
				<a href="./work">Work</a>
			</li>
			<li>
				<a href="./about-us">About</a>
			</li>
			<li>
				<a href="./services">Services</a>
			</li>
			<li>
				<a href="./careers">Careers</a>
			</li>
			<li>
				<a href="#contact-us">Contact</a>
			</li>
		</ul>
		<button aria-label="Open menu" type="button">Menu</button>
	</nav>
</header>
