---

---

<ul>
	<li>
		<img src="/hgc-astro/partners/lone-star.png" loading="lazy" alt="Lone Star Original"/>
	</li>
	<li>
		<img src="/hgc-astro/partners/indeed.svg" loading="lazy" alt="indeed"/>
	</li>
	<li>
		<img src="/hgc-astro/partners/q2.svg" loading="lazy" alt="Q2"/>
	</li>
	<li>
		<img src="/hgc-astro/partners/dell.svg" loading="lazy" alt="DELL" >
	</li>
	<li>
		<img src="/hgc-astro/partners/hopdoddy.svg" loading="lazy" alt="hopdoddy Burger Bar"/>
	</li>
	<li>
		<img src="/hgc-astro/partners/edf.svg" loading="lazy" alt="Environmental Defense Fund"/>
	</li>
	<li>
		<img src="/hgc-astro/partners/soundly.svg" loading="lazy" alt="Soundly"/>
	</li>
	<li>
		<img src="/hgc-astro/partners/lppc.svg" loading="lazy" alt="Large Public Power Council"/>
	</li>
	<li>
		<img src="/hgc-astro/partners/piza-golf.svg" loading="lazy" alt="Piza Golf"/>
	</li>
	<li>
		<img src="/hgc-astro/partners/whole-foods-market.svg" loading="lazy" alt="Whole Foods Market"/>
	</li>
	<li>
		<img src="/hgc-astro/partners/bloomberg-philanthropies.svg" loading="lazy" alt="Bloomberg Philanthropies. Beyond Petrochemicals."/>
	</li>
	<li>
		<img src="/hgc-astro/partners/gray-solutions.png" loading="lazy" alt="Gray Solutions."/>
	</li>
	<li>
		<img src="/hgc-astro/partners/safeguard-global.png" loading="lazy" alt="Safeguard Global."/>
	</li>
</ul>